globals:
  - id: ha_connected
    type: bool
    initial_value: 'false'

image:
  - file: 'esphome-modular-lvgl-buttons/assets/images/loading/homeassistant.png'
    id: ha_img
    resize: 400x82
    type: RGB565
    transparency: alpha_channel
  - file: 'esphome-modular-lvgl-buttons/assets/images/loading/esphome.png'
    id: esphome_img
    resize: 320x95
    type: RGB565
    transparency: alpha_channel

lvgl:
  top_layer:
    widgets:
      - button:
          id: loading_page
          #bg_color: slate_blue_gray
          bg_image_src: sync4
          shadow_opa: transp
          width: ${screen_width}
          height: ${screen_height}
          radius: 0
          on_press:
            - lvgl.widget.hide: loading_page
          widgets:
            - image:
                y: 30
                align: top_mid
                src: ha_img
            - obj:
                id: boot_homeassistant
                y: 180
                width: 350
                height: 100
                pad_all: 0
                align: top_mid
                bg_opa: transp
                shadow_opa: transp
                border_opa: transp
                border_width: 0
                radius: 10
                widgets:
                  - label:
                      id: boot_homeassistant_label
                      align: left_mid
                      text_font: nunito_20
                      text_color: misty_blue
                      text: "Booting..."
                  - spinner:
                      id: boot_homeassistant_spiner
                      width: 50
                      height: 50
                      align: right_mid
                      spin_time: 2s
                      arc_length: 60deg
                      arc_width: 5
                      arc_color: steel_blue
                      indicator:
                        arc_color: misty_blue
                        arc_width: 5
            - obj:
                id: boot_synchronization
                y: 180
                width: 300
                height: 60
                pad_all: 0
                align: top_mid
                bg_opa: transp
                shadow_opa: transp
                border_opa: transp
                border_width: 0
                radius: 10
                hidden: true
                widgets:
                  - label:
                      id: boot_synchronization_label
                      align: top_mid
                      y: 0
                      text_font: nunito_20
                      text_color: misty_blue
                      text: "Sync with HA..."
                  - bar:
                      id: boot_synchronization_bar
                      y: 0
                      width: 300
                      value: 0
                      align: bottom_mid
                      min_value: 0
                      max_value: 100
                      animated: true
                      bg_color: steel_blue
                      indicator:
                        bg_color: misty_blue
            - image:
                y: -30
                align: bottom_mid
                src: esphome_img
script:
  - id: update_loading_page
    then:
      - lvgl.label.update:
          id: boot_synchronization_label
          text: 'Synchronizing data...'
      - lvgl.label.update:
          id: boot_homeassistant_label
          text: 'Connecting to Home Assistant..'

  - id: check_boot_status
    then:
      - if:
          condition:
            lambda: 'return id(ha_connected);'
          then:
            - lvgl.widget.hide: boot_homeassistant
            - lvgl.widget.show: boot_synchronization
            - script.execute: start_sync_animation

  - id: start_sync_animation
    then:
      - lvgl.page.show: main_page
      - delay: 1s
      - lvgl.bar.update:
          id: boot_synchronization_bar
          value: 50
      - delay: 1s
      - lvgl.bar.update:
          id: boot_synchronization_bar
          value: 100
      - delay: 500ms
      - lvgl.widget.hide: loading_page

  - id: on_ha_connected
    then:
      - if:
          condition:
            lambda: 'return !id(ha_connected);'
          then:
            - globals.set:
                id: ha_connected
                value: 'true'
            - lvgl.label.update:
                id: boot_homeassistant_label
                text: "Home Assistant Connected!"
            - lvgl.widget.hide: boot_homeassistant_spiner
            - script.execute: check_boot_status

api:
  on_client_connected:
    - if:
        condition:
          lambda: 'return (0 == client_info.find("Home Assistant "));'
        then:
          - script.execute: update_loading_page
          # - lvgl.label.update: 
              # id: ha_status
              # text_color: blue
          - script.execute: on_ha_connected

  on_client_disconnected:
    - if:
        condition:
          lambda: 'return (0 == client_info.find("Home Assistant "));'
        then:
          - globals.set:
              id: ha_connected
              value: 'false'
          # - lvgl.label.update: 
              # id: ha_status
              # text_color: steel_blue
